*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.signup-wrapper{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d47a1;
}
.form-wrapper-signup {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
input{
    width: 80%;
    padding: 10px 10px;
}


/* Defining variables for select box styling */
:root{
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}


.title-signup{
    font-size: 18px;
    font-weight: 500;
    position: relative;

}

.title-signup::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #2b32b2;

}

.form-app .credentials-signup{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin : 20px;

}

.form-app .credentials-signup .input-box-signup{
    margin: 5px 0 5px 0;
    width: 100%;
    
}

.credentials-signup .input-box-signup input{
    height: 45px;
    width: 100%;
    margin: 5px 0 5px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 1s ease;
    cursor: pointer;
}

.selection{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
 


    
}


.credentials-signup .input-box-signup input:focus {
    border-color: #2b32b2 ;
}
.form-fields{
    
    display: flex;
    flex-direction: row;
    padding-top: 50;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.label{
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
}

.profile-title{
    font-weight: bold;
    
}

select{
   
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
}

/* removing the arrow. Code from :  https://moderncss.dev/custom-select-styles-with-pure-css/*/
select::-ms-expand{
    display: none;
}

.selector{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

@media (max-width: 584px){
    .form-container{
        max-width: 100%;
    }

    form .credentials-signup .input-box-signup{
        margin: 20px 0 12px 0;
        width: 100%;
        margin-bottom: 15px;
    }
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: #0d47a1;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #0d47a1;
    background-color: #fff;
    border: 2px solid #519e8a;
    cursor: pointer;
  }
